/* Using reset styles based on Josh W. Comeau's  (https://www.joshwcomeau.com/css/custom-css-reset/) Modern CSS Reset*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin, padding and font styles */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Set body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* ========================================================================================================*/

/* Custom properties */

:root {
  --color-primary-red: hsl(0, 78%, 62%);
  --color-primary-cyan: hsl(180, 62%, 55%);
  --color-primary-orange: hsl(34, 97%, 64%);
  --color-primary-blue: hsl(212, 86%, 64%);

  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-light-gray: hsl(0, 0%, 98%);
  --color-neutral-grayish-blue: hsla(213, 47%, 67%, 50%);
  --color-neutral-dark-blue: hsl(234, 12%, 34%);

  --font-size-400: 14px;
  --font-size-500: 15px;
  --font-size-600: 20px;
  --font-size-700: 24px;

  --font-weight-200: 200;
  --font-weight-500: 400;
  --font-weight-600: 600;

}

/* ========================================================================================================*/

/* Main content styles */
body {
  font-family: 'Poppins', sans-serif;
  font-size: var(--font-size-500);
  font-weight: var(--font-weight-500);
  background-color: var(--color-neutral-light-gray);
  color: var(--color-neutral-dark-blue);
  display: grid;
  place-items: center;
}

.wrapper {
  width: min(100% - 4rem, 69.375rem);
  min-height: 100vh;
  padding-block: 5rem;
}

.header {
  display: grid;
  place-items: center;
  gap: 1rem;
}

.header__title {
  font-size: var(--font-size-700);
  font-weight: var(--font-weight-600);
}

.header__title>span {
  font-weight: var(--font-weight-200);
}

.header__description,
.grid__text {
  opacity: 50%;
}

.header__description {
  width: min(100%, 33.75rem);
  text-align: center;
}

.grid {
  display: grid;
  gap: 1.5rem;
  margin-block-start: 4.75rem;

  grid-template-columns: repeat(auto-fit, minmax(19.375rem, 1fr));
}

.grid__item {
  position: relative;
  background-color: var(--color-neutral-white);
  display: grid;
  gap: 2.0625rem;
  padding: 1.75rem;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0 0.9375rem 1.875rem -0.6875rem var(--color-neutral-grayish-blue);
}

/* Using pseudo element ::before to create top-borders */
.grid__item::before {
  content: '';
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  top: -0.25rem;
  border-radius: 0.5rem;
  z-index: -1;
}

/* custom border color for each grid item */
.grid__item--cyan::before {
  background-color: var(--color-primary-cyan);
}

.grid__item--red:before {
  background-color: var(--color-primary-red);
}

.grid__item--orange::before {
  background-color: var(--color-primary-orange);
}

.grid__item--blue::before {
  background-color: var(--color-primary-blue);
}

.grid__title {
  font-size: var(--font-size-600);
  font-weight: var(--font-weight-600);
}

.grid__text {
  font-size: var(--font-size-400);
}

.grid__icon {
  width: 3.5rem;
  aspect-ratio: 1;
  justify-self: end;
}

@media (min-width: 1024px) {
  :root {
    --font-size-700: 2.25rem;
  }

  .grid {
    gap: 1.875rem;
    margin-block-start: 4rem;
  }

  .grid__item {
    padding: 2rem;
    gap: 2.5rem;
  }

  .grid__text {
    margin-block-start: 6px;
  }

  .grid__icon {
    width: 4rem;
  }

  /* Styling first and last grid item card which spans to 2 rows and are self aligned to center */
  .grid__item--cyan,
  .grid__item--blue {
    grid-row: 1/3;
    align-self: center;
  }

  /* Positioning them in first and last column */
  .grid__item--cyan {
    grid-column: 1/2;
  }

  .grid__item--blue {
    grid-column: 3/4;
  }
}